
saves/

.mixin.out/

.vs/

cache/

asm/

mods/

logs/

dumps/

screenshots/

astralsorcery/

betterrecords/

betweenlands_gallery/

crash-reports/

fonts/

options.txt

OpenComputersMod-1.7.5.192-lua52-native.64.dll

OpenComputersMod-1.7.5.192-lua53-native.64.dll

.curseclient

llibrary/

luxpacks/

.ReAuth.cfg

bookshelf.cfg

BotaniaVars.dat

crafttweaker.log

*.log

patchouli_data.json

usercache.json

usernamecache.json

WailaErrorOutput.txt

mountains.txt

minecraftinstance.json

journeymap/data/

journeymap/icon/

resources/pack.mcmeta
